{% extends "base.html" %}
{% block registration %}

<div class="signup">


    <main class="signup__main">

        <div class="container">
            <div class="signup__container">
                <div class="signup__head">
                    <h3>Create a New Account</h3>
                    <p>By singin up you can start posting, replaying to topics.</p>
                </div>

    <form
        class="wpcf7"
        method="post"
        id="contactform"
        action={% url 'user_regist'  %}
        >
        {% csrf_token %}
         {{ user_form.as_p }}
        <div class="form-group mb-0">
            <input type="submit" value="Отправить"
                class="btn btn-primary font-weight-semi-bold py-2 px-3">
        </div>
    </form>




            </div>
        </div>
    </main>


</div>

{% endblock registration %}