        {% comment %} <div class="comment-header">
            <div class="comment-box">COMMENT BOX</div>
            <div class="comment-count">
        <a class="btn btn-outline-primary" href="{% url 'add_comment_to_post' object.id %}">Add comment as {{request.user}}</a>
        </div>
        </div>
        

            {% for comment in post.comments.all %}

            <div class="comment">
                <div class="comment-display-flex">
                    <p><b>— {{ comment.author }}</b></p>
                    <div class="comment-time">{{ comment.created_on|date:"j F Y, h:i A" }}</div>
                </div>
                <p>{{ comment.text|linebreaks }}</p>
                
            </div>

            {% empty %}

            <p>it's very quiet in here</p>

            {% endfor %} {% endcomment %}